<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>

<body>

<%= @game.player_1.name %> vs. <%= @game.player_2.name %> <br>
  <%= @game.player_1.name %> HP = <%= @game.player_1.hit_points %> - <%= @game.player_2.name %> HP = <%= @game.player_2.hit_points %> <br>
  <br>
   
<%= @game.player_1.name %> has attacked <%= @game.player_2.name %>!

<%= @game.player_2.name %>'s HP now <%= @game.player_2.hit_points %>
<br>
<br>
<%= @game.current_turn.name %>'s turn 
<br>
<br>
<a href="/attack">Attack</a>

  <audio id="audioplayer" autobuffer="" loop="true" preload="auto" src="media/battle_tune.mp3" autoplay=true>
    </audio>
    <script src="media/audio.js"></script>

</body>
</html>
