<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>

<body>

  <%= @player_1_name %> vs. <%= @player_2_name %> <br>
  <%= @player_1_name %> HP = <%= @player_1_hp %> - <%= @player_2_name %> HP = <%= @player_2_hp %> <br>
  <br>
  <a href="/attack">Attack</a>

  <audio id="audioplayer" autobuffer="" loop="true" preload="auto" src="media/battle_tune.mp3" autoplay=true>
    </audio>
    <script src="media/audio.js"></script>

</body>
</html>
